body{
    margin-left: 10px;
}
.chat{
    background-color: rgb(240, 237, 231);
    padding: 20px;
    border-radius: 16px;
    display: inline-block;
    
}
.msg{
    background-color: rgb(243, 234, 223);
    color: rgb(46, 20, 20);
    
}